:root{
    --text:#dbdfac;
    --bg:#708090;
    --btn-bg:#FFD700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4{
    color:var(--text);
    background-color: var(--bg);
}
body{
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Nerko One',cursive;
}
h1{
    font-size: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.container{
    height: 100vh;
    width: 100w;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#broad{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin-top: 40px;
}
.box{
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
#restart{
    padding: 10px 20px;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 20px;
    color: var(--bg);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}